html {
    box-sizing: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

body > * {
    border: 1px solid black;
}

body {
    flex-direction: column;
    display: flex;
}

h1 {
    text-align: center;
}

nav {
    height: 10%;
    width: 100%;
}

.meal {
    display: flex;
}

.meal > * {
    margin: 5px;
}

input[type="radio"] {
    border-radius: 0%;
}