html, body {
    height: 100%;
    width: 100%;
}

html {
    /* Temp Font */
    font-family: 'Shadows Into Light', cursive;
}

body > * {
    border: 1px solid black;
}

body {
    flex-direction: column;
    display: flex;
    background: palegreen;
    align-items: center;
}
/* Nu.Trac */
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background-color: white;
    /* height: 30%; */
}
/* Contain both meal and vegeterian */
.nav {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    height: 50%;
    visibility: visible;
    background-color: white;
}

.nav.hide {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s ease-in-out 1s, opacity 1s ease-in-out;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.meal {
    display: flex;
    flex-direction: column;
}

.meal > span {
    font-size: 26px;
}

.vegeterian {
    display: flex;
    flex-direction: column;
}

.vegeterian > span {
    font-size: 26px;
}

.meal > * {
    margin: 5px;
}

.vegeterian > * {
    margin: 5px;
}

/* SUBMIT BUTTON */
.submit-button {
    display: flex;
    justify-content: center;
}

.submit-button img {
    width: 90px;
    height: 35px;
    margin-top: 50px;
}

.submit-button img:active {
    transform: scale(0.9);
}

/* RECIPE */

.recipeContainer {
    display: none;
}

.recipeContainer.show {
    display: block;
    text-align: center;
    margin-top: 107px;
    border-radius: 2%;
    background-color: white;
    width: 80%;
    margin-top: 130px;
}

.recipe-title {
    font-size: 26px;
    text-align: center;
    padding: 10px;
}

.direct-rImage {
    width: 80%;
    border-radius: 5%;
}

.recipe-name, 
.recipe-instruction {
    padding-left: 10%;
    padding-right: 10%;
}

.recipe-instruction p {
    padding-left: 15px;
    padding-right: 15px;
}

.nut-not-container {
    display: flex;
    justify-content: space-evenly;
}

.nut {
    width: 90px;
    height: 35px;
}

.nut:active {
    transform: scale(0.9);
}

.not {
    width: 90px;
    height: 35px;
}

.not:active {
    transform: scale(0.9);
}

.nutrition-container {
    display: none;
}

.nutrition-container.show {
    display: block;
    width: 80%;
    background-color: white;
    border-radius: 30%;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nutHeader {
    text-align: center;
    font-size: 26px;
}
.detailed-nut-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 17px;
}
.nutAmount {
    display: flex;
    flex-direction: column;

}

/* Applies to all phones on portait mode */
@media screen and (max-width: 450px) and (orientation: portrait) {
    .nav {
        margin-top: 40%;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        height: 73%;
        width: 80%;
        border-radius: 15%/10%;
        padding-top: 10%;
    }

    .options {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .meal {
        display: flex;
        flex-direction: column;
    }

    .meal > span {
        font-size: 20px;
    }

    .vegeterian {
        display: flex;
        flex-direction: column;
    }

    .vegeterian > span {
        font-size: 20px;
    }

    .submit-button img {
        width: 90px;
        height: 35px;
        margin-top: 50px;
    }
    .nut {
        width: 90px;
        height: 35px;
    }
    .not {
        width: 90px;
        height: 35px;
    }
    .recipe-title {
        font-size: 20px;
        text-align: center;
    }
}

/* Applies to all phones on landscape mode */
@media screen and (max-width: 740px) and (orientation: landscape) {
    .nav {
        margin-top: 20%;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        height: 62%;
        width: 80%;
        border-radius: 10%/20%;
        padding-top: 1%;
    }
    .submit-button img {
        margin-bottom: 12%;
    }
}


/* @media screen and (max-width: 750px) and (orientation: landscape) {
    .nav {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        height: 60%;
        width: 90%;
        padding-top: 5px;
        border-radius: 10%/25%;
    }
    
    .submit-button img {
        margin-bottom: 55px;
    }
} */

@media screen and (min-width: 760px) {
    .nav {
        margin-top: 220px;
        display: flex;
        flex-direction: column;
        height: 60%;
        font-size: 30px;
    }

    .submit-button img {
        margin-top: 100px;
        transform: scale(1.5);
    }

    .submit-button img:active {
        transform: scale(1.4);
    }

    .nut {
        transform: scale(1.5);
    }

    .nut:active {
        transform: scale(1.4);
    }

    .not {
        transform: scale(1.5);
    }

    .not:active {
        transform: scale(1.4);
    }

}