html, body {
    height: 100%;
    width: 100%;
}

html {
    /* Temp Font */
    font-family: 'Shadows Into Light', cursive;
}

body > * {
    border: 1px solid black;
}

body {
    flex-direction: column;
    display: flex;
}
/* Nu.Trac */
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background-color: white;
    /* height: 30%; */
}
/* Contain both meal and vegeterian */
.nav {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    height: 50%;
}

.nav.hide {
    display: none;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.meal {
    display: flex;
    flex-direction: column;
}

.meal > span {
    font-size: 26px;
}

.vegeterian {
    display: flex;
    flex-direction: column;
}

.vegeterian > span {
    font-size: 26px;
}

.meal > * {
    margin: 5px;
}

.vegeterian > * {
    margin: 5px;
}

/* SUBMIT BUTTON */
.submit-button {
    display: flex;
    justify-content: center;
}

.submit-button img {
    width: 90px;
    height: 35px;
    margin-top: 50px;
}

.submit-button img:active {
    transform: scale(0.9);
}

/* RECIPE */

.recipeContainer {
    display: none;
}

.recipeContainer.show {
    display: block;
    text-align: center;
    margin-top: 107px;
}

.recipe-title {
    font-size: 26px;
    text-align: center;
    padding: 10px;
}

.recipe-image {
    width: 80%;
}

.recipe-name, 
.recipe-instruction {
    padding-left: 10%;
    padding-right: 10%;
}

.nut {
    width: 90px;
    height: 35px;
    margin-top: 20px;
}

.nutrition-container {
    display: none;
}

.nutrition-container.show {
    display: block;
}

.nutHeader {
    text-align: center;
}
.detailed-nut-info {
    display: flex;
    justify-content: space-between;
}
.nutAmount {
    display: flex;
    flex-direction: column;

}

/* Bigger than 370px, it can be row */
@media screen and (max-width: 370px) and (orientation: portrait) {

    .nav {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        height: 50%;
    }

    .options {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .meal {
        display: flex;
        flex-direction: column;
    }

    .meal > span {
        font-size: 20px;
    }

    .vegeterian {
        display: flex;
        flex-direction: column;
    }

    .vegeterian > span {
        font-size: 20px;
    }

    .submit-button img {
        width: 90px;
        height: 35px;
        margin-top: 50px;
    }
    .recipe-title {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (orientation: landscape) {
    .nav {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        height: 60%;
    }
    
    .submit-button img {
        margin-top: 10px;
    }
}

@media screen and (min-width: 700px) {
    .nav {
        margin-top: 220px;
        display: flex;
        flex-direction: column;
        height: 60%;
        font-size: 30px;
    }

    .submit-button img {
        margin-top: 100px;
        transform: scale(1.5);
    }

    .submit-button img:active {
        transform: scale(1.4);
    }

    .nut {
        transform: scale(1.5);
    }

    .nut:active {
        transform: scale(1.4);
    }

}